@import './base';

.block {
  border: 1px solid gray;
  margin: 5px auto;
  padding: 10px 15px 30px;
  border-radius: 3px;
  max-width: 320px;
  text-align: center;
  & p{
    line-height: 20px;
    min-height: 20px;
  }
  & input{
    width: 100%;
    border-radius: 3px;
    line-height: 30px;
    border: 1px solid lightgrey;
    text-align: center;
  }
}