h1, h2{
	text-transform: uppercase;
}

body{
	/*font-family: 'Russo One', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
		color: black;
}
.header-top{
	min-height: 100px;
	border-bottom: 1px solid #e5e5e5
}
.header-top .logo{
	width: 100%;
	height: 100px;
}
.header-top .logo img{
	max-width: 100%;
	height: auto;
	fill: #000
}

.header-top .email{
	border-bottom: 3px solid #fb3e1a;
	display: inline-block;
	padding: 0px 7px;
	line-height: 100px;
}
.header-top a{
	color: black;
	font-size: 23px;
	font-weight: 700;
	line-height: 20px;
	text-decoration: none;
	white-space: nowrap;
	transition: all 0.25s ease;
}
.header-top a:hover{
	color: dimgrey;
}

.header-top .phones{
	width: 100%;
	height: 103px;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid #fb3e1a
}
.header-top .phones a{
	padding-top: 10px;
}




.header-title{
	padding: 50px 0;
}
.header-title .h2{
	font-size: 18px;
	font-weight: 400;
}
.h1{
	background: linear-gradient(90deg, #f83433, #ff4801);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: table;
	width: 100%;
	color: #fa3927;
	font-family: 'Russo One', sans-serif;
	font-size: 25px;
	font-weight: 400;
	margin: 45px 0 0;
  	position: relative;
}

.header-title .h1:after {
	content: "";
	position: absolute; top: 0; left: -2em;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left, rgba(255,255,255,.0), rgba(255,255,255,.8), rgba(255,255,255,.0)) no-repeat -2em 0%;
	background-size: 2em 100%;
	transform: skewX(-50deg);
}
.header-title .h1:hover:after {
	  transition: 0.5s linear;
	  background-position: 100% 0%;
}

.header-media{
	background-color: #f6f6f6;
}
.header-media img{
	width: 100%;
	background-color: #941e1e;
}
.header-order{
	padding: 35px 0 60px;
}
.order{
	text-align: center;
	padding: 20px 68px;
	margin-bottom: 25px;
	display: inline-block;
	background-color: white;
	background-image: linear-gradient(to left, #ff4801 0%, #f83433 100%);
	border-radius: 38px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}
.header-order p{
	color: black;
	font-family: 'Russo One', sans-serif;
	font-size: 24px;
	line-height: 1.3;
	font-weight: 400;
}



.content-graph{
	padding: 115px 0 105px;
	background: #010204 url(../img/graph-bg.jpg) center no-repeat;
	background-size: cover;	
	color: #fff;
}
.content-graph img{
	width: 100%;	
}
.content-graph h3{
	color: #fc3e19;
	font-family: 'Russo One', sans-serif;
	font-size: 42px;
	font-weight: 400;
	line-height: 46px;	
}
.content-graph .content-graph__p1{
	font-size: 24px;
	font-weight: 700;
	margin-top: 40px;
}
.content-graph .content-graph__p2{
	font-size: 16px;
	font-weight: 400;	
	margin-top: 40px;
}


.content-bottom{
	padding: 55px 0 165px;
}
.content-bottom .how{
	margin: 0 0 85px;
}
.content-bottom .step{
	margin: 0 0 55px;
}
.content-bottom p{
	font-size: 24px;
	font-weight: 400;
	//letter-spacing: -2px;
	padding: 0;
	margin: 0;
}
.content-bottom p:last-of-type{
	margin-right: -3px;
}
.content-bottom .order{
	margin-top: 60px;
}