body {
    margin: 0;
    min-width: 11	00px;
    font-family: "Noto", Tahoma, Geneva, Verdana, sans-serif;
}

body > header {
    background: orange;
	padding: 5px 10px;
    color: white;
}

h1 {
    margin: 0;
    font-weight: 100;
}

h3 {
    margin: 0;
	padding: 0;
    font-weight: 400;
}

main {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

aside {
/*    flex: 1;*/
}

section {
    width: 300px;
}
.input{
	position: relative;
    margin-top: 10px;
	
	
}
input[type="text"] {
    padding: 10px 10px;
    border-radius: 10px;
    color: darkgrey;
	width: 92%;
	outline: none;
}

input[type="text"] + button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
	border-left: 1px solid gray;
	text-transform: uppercase;
	line-height: 2;
	opacity: 0.8;
	
}
input[type="text"] + button:hover{
	opacity: 1;
}


button {
    border: 0;
    background: 0;
    cursor: pointer;
    outline: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.selected{
    transform: scale(1.2);
}


.check {
    margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    text-align: center;
    outline: none;
    margin-left: -4px;
    margin-top: 5px;
}

.check:before {
    content: '\2713';
    display: inline-block;
    color: #363636;
    font-size: 30px;
    line-height: 30px;
    transition: 0.5s;
}

.colors {
    align-items: center;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.color {
    box-sizing: border-box;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
ul.pickers{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
ul.pickers li{
    position: relative;
    box-sizing: border-box;
    margin-top: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0;
    margin-left: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9), 0 1px 2px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.lists {
    display: flex;
    justify-content: space-around;
/*    flex: 15;*/
}

.list {
    min-height: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 20px;
}
.list-body {
    border: 1px solid ;
    min-height: 200px;
    height: 100%;
}

.list > header {
	position: relative;
	padding: 5px 10px;
    background-color: #363636;
    color: white;
	border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.list > header > button{
	position: absolute;
	padding: 10px;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.chevron-top,
.chevron-bottom {
    font-size: 20px;
    color: white;
	
}
.chevron-top:before{
    content: '';
    position: absolute;
    left: 0px;
    width: 10px;
    height: 3px;
    background: white;
    transform: rotate(-45deg);  
}
.chevron-top:after{
	content: '';
    position: absolute;
    left: 5px;
    width: 10px;
    height: 3px;
    background: white;
    transform: rotate(45deg);    
}
.chevron-bottom:before{
    content: '';
    position: absolute;
    left: 0px;
    width: 10px;
    height: 3px;
    background: white;
    transform: rotate(45deg);   
}
.chevron-bottom:after{
    content: '';
    position: absolute; 
	left: 5px;
    width: 10px;
    height: 3px;
    background: white;
    transform: rotate(-45deg);       
}

.list-body {
    min-height: 300px
    height: 100%;
}

.kanban-card {
    /*    position: relative;*/
    background-color: #2196f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
/*    cursor: pointer;*/
    border-radius: 10px
}
textarea.text{
/*    overscroll-behavior-y: initial;*/
    max-width: 100%;
    min-height: fit-content;
    height: auto;
    padding: 0;
    background-color: transparent;
    z-index: 1;
}
.kanban-card > span {}

.kanban-card > div {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    opacity: .3;
    transition: all 0.3s ease;
}

.kanban-card > div > p {
    /*    align-self: flex-start;*/
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.kanban-card > div > button {
    /*    align-self: flex-start;*/
}

.kanban-card:hover {
    box-shadow: 0 5px 17px rgba(0, 0, 0, 0.25), 0 3px 2px rgba(0, 0, 0, 0.22);
}

.kanban-card:hover div {
    opacity: 1;
}

.close {
    color: black;
    font-size: 22px;
    line-height: 2px;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1;
}

.red {
    background: #f44336;
    /* white text */
}

.blue {
    background: #2196f3;
    /* black text */
}

.green {
    background: #4caf50;
    /* black text */
}

.yellow {
    background: #ffeb3b;
    /* black text */
}
