body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #f2f2f2;
}
.top{
    background: #195e74;
    border-bottom: 1px solid #9f9f9f;
}
.logo h1{
    color: white;
    font-size: 23px;
    font-weight: 100;
    line-height: 30px; 
    text-transform: uppercase;
}
.content{
    background: url(../img/top_bg.jpg) center top no-repeat;
    padding-top: 270px;
}
.feather{
    display: block;
    width: 32px;
    height: 32px;
    background: url(../img/feather.png) 0 0 no-repeat;
    margin-right: 20px;
    margin-left: 40px;
}
.head_h2{
    color: white;
    margin-bottom: 45px;
}
.head_h2 h2{
    font-size: 40px;
    font-weight: 300;
    line-height: 46px;
}
.head_h2 span{
    color: white;
    line-height: 26px;
}