body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}
ul, li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: inline-flex;
    list-style: none;
}
/* HEADER */


header{
    background: url(../img/bg_all.jpg) center top no-repeat;
    height: 134rem;
}
.left_branch{
    position: absolute;
    background-attachment: scroll;
    top: 0;
    left: 0;
}
.right_branch{
    position: absolute;
    top: 0;
    right: 0;
}
.basement{
    position: absolute;
    top: 10rem;
    left: 0;
}
.top{
    background: white url(../img/bg_tr.png) center top no-repeat;  
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
}
.menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}
.topmenu {
    width: 50%;
}
.topmenu .topmenu__item {
    position: relative;
    
}
.topmenu .topmenu__link {
    position: relative;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.18);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 2rem;
    padding: 0.5rem 3rem;
    border: 0.1rem solid white;
    border-top: none;
    text-decoration: none;
}
.topmenu__item .topmenu__link:hover {
    color: #ff0033;
    border-color: white;
    background-color: white;
}
.ml{
    justify-content: flex-end;
}
.ml li:last-child{
    margin-right: -1rem;
}
.mr li:first-child{
    margin-left: 1rem;
}
.logo{
    text-align: center;
    margin-top: 4.5rem;
}
section{
    
    height: 500px;
}
