body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    
}
ul, li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    list-style: none;
}
/* HEADER */

    /* SWIPER */
 .swiper-container {
      margin-top: 5rem;
     padding: 2rem 0;
      width: 80%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 1rem;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      position: relative;
      transition: all .3s ease;
    }
    .swiper-slide:hover{
        transform: scale(1.1);

    }
    /* SWIPER */
header{
    background: url(../img/bg_main.jpg) center top no-repeat;
    background-size: cover;
    height: 130rem;
    position: relative;
    overflow: hidden;
}
.left_branch{
    width: 5em;
    position: absolute;
    background-attachment: scroll;
    top: 0;
    left: 0;
    
}
.left_branch{
    transition: all 0.3s ease;
    transform-origin: left top;
}
.right_branch{
    transition: all 0.3s ease;
    transform-origin: right top;
}
.left_branch:hover,
.right_branch:hover{
    transform: scale(0.9);
}
.left_branch img,
.right_branch img
{
    width: 31vw;
}
.right_branch{
    position: absolute;
    top: 0;
    right: 0;
}

.basement{
    position: absolute;
    top: 10rem;
    left: 0;
    transition: all 1s ease;
}
.basement:hover{
    transform: rotateY(360deg);
}
.top{
    background: white url(../img/bg_tr.png) center top no-repeat;  
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
}
.menu{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}
.topmenu {
    width: 50%;
}
.topmenu .topmenu__item {
    
}
.topmenu__link {
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 2rem;
    padding: 0.5rem 3rem;
    border: 0.1rem solid white;
    border-top: none;
    text-decoration: none;
    z-index: 1;
}
.topmenu__item .topmenu__link:hover {
    color: #ff0033;
    border-color: white;
    background-color: white;
}
.ml{
    justify-content: flex-end;
}
.ml li:last-child{
    margin-right: -1rem;
}
.mr li:first-child{
    margin-left: 1rem;
}
.logo{
    text-align: center;
    margin-top: 3.65rem;
    transition: all .5s ease-out;
}
.logo img{
    transition: all .5s ease-out;
    
}
.logo img:hover{
    transform: rotate(360deg)  scale(1.3);    
}
section{
    
}
/* CONTENT*/

.content {
    height: 61rem;
    background: url(../img/block.png) center top no-repeat;
    
}
.content__box{
    padding-top: 35rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content__box h1{
    color: #666e77;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.content__wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.content__text{
    width: 30rem;
    padding: 1rem;
}
.content__text p{
    text-align: justify;
    padding-bottom: 1rem;
    color: #1f2123;
    font-size: 1rem;
    font-weight: 400;
}
/* FOOTER */
footer{
    padding: 1rem;
    background: #2d2e2c;
    position: relative;
}
.wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
}
.bottom-menu{
    padding-left: 2rem;
/*    border-right: 0.05rem solid #000;*/
    position: relative;
}
.bottom-menu::before{
    position: absolute;
    content: "";
    top: 0;
    left: 100%;
    height: 100%;
    width: 0.1rem;
    background-color: #464646;
}
.bottom-menu::after{
    position: absolute;
    content: "";
    top: 0;
    left: 100%;
    height: 100%;
    width: 0.05rem;
    background-color: #000;
}
.bottommenu__link{
    padding: 0.2rem 0;
    color: #bebebe;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 2rem;
    border-bottom: 0.1rem dotted #bebebe;
    text-decoration: none;
}
.bottommenu__link:hover{
    text-decoration: none;
    color: #ff0033;
    border-color: #ff0033;
}
.credits{
    color: #505050;
    padding: 1rem 0 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
}
.address{
    color: #bebebe;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 2rem;

}
.address-box{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-top: 0.5rem;
}
.address-box div{
    margin-right: 1rem;
}
.address p{
    color: #8e8e8e;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
}
.address a{
    font-family: Arial, sans-serif;
    color: #2589ba;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    border-bottom: 0.1rem dotted #2589ba;
}
.realist{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* PARALAX */
.garden{
    position: relative;
}
.leaf{
    position: absolute;
    width: 266px;
    height: 173px;
    background: url(../img/leaf.png) no-repeat center;
    bottom: 5%;
    left: 30%;
}
.tree{
    position: absolute;
    width: 366px;
    height: 515px;
    background: url(../img/tree2.png) no-repeat center;
    bottom: 0;
    left: -183px;
}
.grass{
    position: absolute;
    width: 100%;
    height: 318px;
    background: url(../img/grass.png) no-repeat center bottom;
    bottom: 0;    bottom: -200px;    left: 0;
}
.grass2{
    position: absolute;
    width: 100%;
    height: 318px;
    background: url(../img/grass2.png) no-repeat center bottom;
    bottom: -200px;
    left: 0;
}
.grass3{
    position: absolute;
    width: 100%;
    height: 318px;
    background: url(../img/grass2.png) no-repeat center;
    bottom: -200px;
    left: 0;
}
.oak{
    position: absolute;
    width: 436px;
    height: 194px;
    background: url(../img/oak.png) no-repeat center;
    bottom: 10%;
    left: 50%;
}
/* MEDIA */
@media (max-width: 960px){
    .menu .topmenu{
        flex-direction: column;
    }
    .ml{
        align-items: flex-end;
    }
    .topmenu .topmenu__link{
        display: block;
        text-align: center;
        border-top:  0.1rem solid white;
        margin: 0.2rem 0.1rem 0;
        padding: 0.5rem 1rem;
        width: 10rem;
        
    }
    .ml li:last-child{
        margin-right: 0;
    }
    .mr li:first-child{
        margin-left: 0;
    }
    .swiper-container{
        margin-top: 0;
    }
    .logo{
        margin-top: 1.65rem;
    }
    .content__box {
        padding-top: 31rem;
    }
    .content__text {
        width: 20rem;
    }
    .logo img:hover{
        transform: none;    
    }
    .wrapper {
        flex-direction: column-reverse;
    }
    .bottom-menu::after{
        display: none;
    }
    .bottom-menu::before{
        display: none;
    }
    .bottommenu{
        justify-content: center;
        margin-top: 1rem;
    }
    .bottommenu__link {
        margin-right: 0.5rem;
    }
    .bottom-menu {
        padding-left: 0;
    }
    .address {
        margin-left: 0;
    }
}
@media (max-width: 720px){
    .basement{
        display: none;
        opacity: 0;
    }
    .topmenu .topmenu__link{
        padding: 0.5rem 0.5rem;
    }
    
    .content {
        margin-top: -10rem;
    }
    .content__wrap {
        text-align: center;
        margin-top: 0;
        flex-direction: column;
        align-items: center;
    }
    .content__text{
        width: 90%;
    }
    .content__text p {
        text-align: justify;
        padding-bottom: 0;
    }
    .content__text{
        padding: 0.2rem;
    }
    .content__box h1 {
        text-align: center;
        font-size: 1rem;
    }
    .content__box {
        padding-top: 29rem;
    }
    .address p {
        font-size: .8rem;
    }
}