.bulb{
	background-color: gray;
	display: inline-block;
	cursor: pointer;
	padding: 10px 20px;
	margin-left: 10px;
}
.active{
	background-color: green;
}
.bulb:hover{
	opacity: 0.8;
}
.tab1 {  display: block;}
.tab2 {  display: none;}