body {
    /*    font-family: 'Montserrat', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

ul,
li {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
p{    
    font-size: 16px;
    line-height: 28px;
    color: #737373;
}
.wrapper {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;


}
h3{
    color: #0d0d0d;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 17px;
    line-height: 42px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 10px;
    width: 160px;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border-radius: 0px;
}

.btn:hover {
    background-color: #f39c12;
    border: 2px solid #f39c12;
}
.hr{
    width: 100%;
    height: 2px;
    background-color: #e6e6e6;
    margin: 120px 0;
}
/*-----------------------------------HEADER---------------------------------------------*/

.slick-dots{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.slick-dots li{
    margin: 5px;
}
.slick-dots li button{
    border: none;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}
.slick-dots li.slick-active button{ 
    background-color: rgba(255, 255, 255, 1);
}
.header-slider .slick-dots{
    margin-top: 100px;
}
.blockq-slider .slick-dots{
    margin-top: 25px;
}
.portfolio-slider .slick-dots{
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
/*-----------------------------------CAROUSEL---------------------------------------------*/

header {
    background: url(../img/bg.jpg) center top no-repeat;
/*    height: 100vh;*/
    height: 1100px;
}

.logo_nav {
    padding-top: 87px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 150px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-radius: 50%;
}
.logo:hover,
.logo:active,
.logo:visited{
    text-decoration: none;
}

.topmenu_link {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

ul.topmenu {
    overflow: hidden;
}

.topmenu__item {
    margin-left: 90px;
    position: relative;
}

.topmenu__item:first-child {
    margin-left: 10px;
}

.topmenu__item:last-child::after {
    display: none;
}

.topmenu__item a:hover {
    color: #0d0d0d;
}

.topmenu__item::after {
    content: "//";
    position: absolute;
    color: white;
    left: 100%;
    top: 0;
    margin-left: 40px;
}

.h1_box {
    outline: none;
    margin-top: 200px;
    text-align: center;
}

.h1_box h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    line-height: 50px;
}

.h1_box h1 span {
    display: block;
}

.h1_box h1 span.center_span {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -3px;
}

.h1_box h1 span.last_span {
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 96px;
}
/*-----------------------------------ABOUT---------------------------------------------*/
section.about{
    margin-top: 100px;    
}
.h2_box{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 150px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.h2_box .h2_header{
    width: 320px;
    text-align: right;
    margin-right: 40px;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    position: relative;
}
.h2_header::after{
    position: absolute;
    content: "";
    left: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-right: 5px solid #f39c12;
    height: 45px;
    margin-left: 20px;
    
}
.h2_text{
    color: #4d4d4d;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}
.block_story{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.block__info{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.block__text{
/*    margin-right: 60px;*/
}
.block__text span{
    display: block;
    color: #e74c3c;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}
.block__img{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 125px;
    height: 125px;
    background-color: white;
    border: 2px solid #f39c12;
    border-radius: 50%;
    margin-right: 30px;
    font-size: 40px;
    
}
.block_rec_img{
    margin-left: 60px;
    position: relative;
}
/*
.block_rec_img img{
    display: block;
    max-width: 100%;
}
*/
.block_rec_img span{
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.settings{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 80px;
}
.set__img{
    flex: 1;

}
.set__img img{
/*    display: block;*/
    max-width: 100%;

}
.set__progress{
    flex: 1;
    margin-left: 80px;
    padding: 0px;
}
.set__progress_bar{
    margin-top: 64px;
}
.set__progress_item progress{
    display: block;
    width: 100%;
    height: 10px;
    color: #f39c12;
    background-color: #e6e6e6;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0;
}
::-webkit-progress-bar {
    background: #e6e6e6
}
::-webkit-progress-value {
    background: #f39c12;
}
::-moz-progress-bar {
    background: #f39c12;
}

.set__progress_item p{
    font-size: 16px;
    line-height: 16px;
    line-height: 28px;
    color: #bfbfbf;
    font-weight: 600;
    padding: 0px;
}
span.progress_bold{
    color: #0d0d0d;
    font-weight: 700;
    text-transform: uppercase;
}
span.progress_light{
    color: #0d0d0d;
    font-weight: 300;
}
/*-----------------------------------BLOCKQUOTE---------------------------------------------*/
.block{
    background: url(../img/bg-q.jpg) center top no-repeat;
    background-size: cover;
    height: 700px;
    color: white;
    text-align: center;
    margin-bottom: 100px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
/*    justify-content: center;*/
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.blockq-box{
/*    padding-top: 200px;*/
}
.blockq-box blockquote{
    padding: 0 50px;
    display: block;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 56px;
    position: relative;
}
.blockq-box blockquote::before{
    content: "“";
    position: absolute;
    left: 0;
    top: -10%;
    color: white;
    font-size: 110px;
    font-weight: 700;
    line-height: 120px;
}
.blockq-box blockquote::after{
    content: "“";
    position: absolute;
    right: 0;
    top: -10%;
    color: white;
    font-size: 110px;
    font-weight: 700;
    line-height: 120px;
}
cite{
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    font-style: normal;
}
.blockq-box cite::after{
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 5px solid #f39c12;
    width: 45px;
    margin-top: -23px;
    
}
/*-----------------------------------SECTION JOB---------------------------------------------*/
.job{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 100px;
}
.job__item{
    text-align: center;
    padding-top: 30px;
/*    width: 25%;*/
    max-width: 292px;
    border-top: 4px solid white;
    padding-bottom: 30px;
    
}
.job__item:hover{
    background-color: #f0f0f0;
    border-top: 4px solid #f39c12;
}
.job__img{
    margin: 0 auto;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    background-color: #e8f8f4;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 4px solid #f2f2f2;
    font-size: 62px;
    position: relative;
}
.job__img::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #e6e6e6;
    border-radius: 50%;
}
.job__name{
    margin-top: 25px;
    line-height: 20px;

    color: #0d0d0d;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.job__position{
    position: relative;
    color: #999;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}
.job__position::after{
    position: absolute;
    content: "";
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 5px solid #ccc;
    width: 20px;
    margin-top: -23px;
}
.job__item:hover .job__position::after{
    border-top: 5px solid #e74c3c;
}
.job__about{
    font-weight: 400;
    line-height: 28px;
    color: #737373;
    font-size: 16px;
    padding: 0 20px;
}
.job__soc{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.job__soc ul{
    margin-top: 25px;
}
.job__soc ul a{
    font-size: 15px;
    color: #999;
}
.job__soc ul a:hover{
    color: #f39c12;
    font-weight: 700;
}
.job__soc ul li{
    margin-right: 20px;
}
.job__soc ul li:last-child{
    margin-right: 0px;
}
/*-----------------------------------SECTION CLIENTS---------------------------------------------*/
.client__item{
    text-align: center;
}
.clients{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
/*    padding-top: 220px;*/
}
.client__cercle{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    width: 170px;
    height: 170px;
    border: 2px solid #f39c12;
    border-radius: 50%;
    font-size: 32px;
}
.client__cercle:hover{
    border-color: white;
}
.client__cercle:hover span::before{
    color: #f39c12;
}
.client__detail{
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin-top: 15px;
}
.client__detail span{
    display: block;
    font-size: 45px;
    padding: 10px;
}
.design{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.design__item{
    text-align: center;
    max-width: 376px;
}
.design__img{
    margin: 15px auto 0;
    width: 105px;
    height: 105px;
    background-color: white;
    border: 2px solid #f39c12;
    border-radius: 50%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 27px;
}
.design__img:hover{
    background-color: #f39c12;
}
.design__img:hover span::before{
    color: white;
}
.design__item + .design__item{
    margin-left: 20px; 
}
.design__about{
    color: #737373;
}
.design__name{
    margin-top: 26px;
}

/*-----------------------------------SECTION PRICE---------------------------------------------*/
.ml{
    text-align: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
.ml .design__img{
    margin-left: 0;
    width: 125px;
    height: 125px;
}
.pricebtn{
    font-size: 16px;
    color: #0d0d0d;
    margin: 20px 10px;
    border: 2px solid #f39c12;
}
.pricebtn:hover{
    color: white;
}
.active .pricebtn, .pricebtn:hover{
    border: 2px solid #f39c12;
}
.price__box{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    
}
.price__table{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.price__list{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #737373;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.price__list:first-child{
    border-left: 1px solid #e6e6e6;
}   
.price__list:last-child{
    border-right: 1px solid #e6e6e6;
}   
.active .price__list-title{
    color: white;
}
.active{
    margin-top: -15px;
    background-color: #f2f2f2;
    border-top: 15px solid #f39c12;
    border-bottom: 10px solid #e6e6e6;
/*    transform: scale(1.007);*/
}
.active li:first-child{
    background: #f39c12;
    border-color: #f39c12;
}
.price__list + .price__list{
    border-left: 0px;
}
.price__list li:nth-child(even){
    background-color: #fafafa;
}

.active li:nth-child(even){
    background-color: #e6e6e6;
}
.price__list li{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 18px 30px;
    border-top: 1px solid #e6e6e6;
    width: 100%;
    
}
.price__list li:last-child{
        border-bottom: 1px solid #e6e6e6;
}
.price__list-title{
    margin: 0 auto;
    text-align: center;
    color: #0d0d0d;
    font-size: 22px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
}
.price__list-title span{
    display: block;
    position: relative;
}
.price__list-title span::after{
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 2px solid #f39c12;
    width: 50px;
    margin-top: 0px;
}
.active .price__list-title span::after{
    border-top: 2px solid #fff;
}

/*-----------------------------------SECTION BLOCKQUOTE2---------------------------------------------*/
.blockq2-box{
    outline: none;
}
.blockq2-box blockquote{
    color: white;
    font-size: 22px;
    font-style: italic;
    line-height: 30px;
    font-weight: lighter
}
.blockq2-box cite{
    display: block;
    margin-bottom: 30px;
}
.blockq2-box cite::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 5px solid #f39c12;
    width: 45px;
    margin-bottom: -10px;
}
.blockq2-box img{
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 20px;
}  
/*-----------------------------------SECTION BLOCKQUOTE2---------------------------------------------*/
.portfolio__box{
    text-align: center;
}
.portfolio__img {
    max-width: 1170px;
    background-color: #f39c12;
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.portfolio__img span{
    position: absolute;
    font-size: 58px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.portfolio__img img{
    min-width: 100%;
}
.portfolio-slider{
    position: relative;
}
.portfolio-arrows{
    margin-top: 50px;
}
.portfolio-arrows .slick-prev,
.portfolio-arrows .slick-next {

    width: 35px;
    height: 35px;
    background-color: white;
    border: 2px solid #e6e6e6;
}

.portfolio__name {
    margin-top: 20px;
    color: #0d0d0d;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.portfolio__position {
    color: grey;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}
.port_tabs{
    padding-bottom: 120px;
}
.tabs-menu{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 75px;
}
.tabs-menu__item +.tabs-menu__item::before{
    content: "\\\\";
    left: 0;
    margin: 0 22px;
    color: #a6a6a6;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
}
.tabs-menu__item a{
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    color: #0d0d0d;
    text-decoration: none;
}
.tabs-menu__item a:hover{
    color: #f39c12;
}
.tabs-content__item.selected {
    display: block;
}
.selected a{
    color: #f39c12;
}
.tabs-content{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.tabs-content__item{
    position: relative;
    width: 25%;
    display: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.tabs-content__item a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.tabs-content__item h4{
    text-align: center;
    line-height: 22px;
    color: #0d0d0d;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 5px;
}

.tabs-content__item h4 span{
    display: block;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.tabs-content__img{
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 220px;
    background: #c7c7c7;
            -webkit-transition: all 0.9s linear;
            transition: all 0.9s linear;
}
.tabs-content__img::after{
    position: absolute;
    content: "";
    width: 46px;
    height: 1px;
    background-color: white;
    z-index: 3;
    display: none;
}
.tabs-content__img::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 46px;
    background-color: white;
    z-index: 3;
    display: none;
}
.tabs-content__img:hover .tabs-content__img::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 46px;
    background-color: white;
    z-index: 3;
    display: none;
}
.tabs-content__item:hover .tabs-content__h4{
    color: #f39c12;
}
.tabs-content__item:hover .tabs-content__img::after{
    display: block;
}
.tabs-content__item:hover .tabs-content__img::before{
    display: block;
}
.tabs-content__item:nth-child(odd) .tabs-content__img{
    background: #b7b7b7;
}
.tabs-content__img img{
    width: 100%;
    height: 100%;
}
.tabs-content__img .icon-camera{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 58px;
    color: white;
    display: block;
    
}
.tabs-content__hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    z-index: 1;
}
.tabs-content__hover::after{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    content: "";
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: rgba(243, 156, 18, 0.5);
}

.tabs-content__item:hover .tabs-content__hover{
    display: block;
}
.tabs-content__item:hover .icon-camera{
    display: none;
}

/*-----------------------------------TWITTER---------------------------------------------*/
.twitter{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.twitter_icon{
    border-radius: 50%;
    width: 104px;
    height: 104px;
    border: 2px solid white;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.twitter_icon a{
    font-size: 25px;
    color: #f39c12;
    
}
.twitter_text{
    max-width: 830px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    margin-top: 30px;


}
.twitter_text a{
    color: #f39c12;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
}
.twitter__time{
    color: grey;
    font-size: 15px;
    font-style: italic;
    line-height: 38px;
    font-weight: 300;
}

/*-----------------------------------AWESOME---------------------------------------------*/
.awesome{
    margin: 0 -30px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.awesome__item{
    max-width: 555px;
    margin: 0 30px 60px;
}
.awesome__item-img{

    position: relative;
    background-color: #b7b7b7;
    height: 300px;
}
.awesome__item-img img{
    width: 100%;
    height: 100%;
    z-index: 3;
}
.awesome__item-img .icon-camera{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 58px;
    z-index: 1;
    
}
.awesome__item-block{
    z-index: 3;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    position: absolute;
    bottom: 0;
    right: 0;
}
.awesome__item-img h3{
    display: inline-block;
    overflow: hidden;
    width: 445px;
    margin: 0;
    background-color: #fff;
    padding: 30px 20px 15px;
    
}
.awesome__item-info{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
.awesome__item-date{
    padding: 20px;
    text-align:right;
    color: grey;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
.awesome__item-date span{
    display: block;
}
.awesome__item-text p{
    width: 445px;
    padding: 20px;
    line-height: 28px;
    color: #737373;

}
.awesome__item-text a{

    color: #0d0d0d;
    font-size: 14px;
    padding: 10px 25px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
    border: 2px solid #f39c12;   
/*    width: 105px;*/
    margin-left: 20px;
}
.awesome__item-text a:hover{
    color: white;
}
.awesome__item-img .fas,.awesome__item-img .far{
    font-size: 20px;
    color: white;
    background-color: #f39c12;
    padding: 12px;
}


/*-----------------------------------CONTACT---------------------------------------------*/
.contact{
    margin-bottom: 100px;
}
.logo__items{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}
.logo__item{
    
    overflow: hidden;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 256px;
    height: 162px;
    border: 2px solid rgba(255, 255, 255, 0.25);
}
.logo__item{
    margin: 10px;
}
.logo__item:hover{
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.contact-info{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
}
.contact-block{
    width: 54%;
    margin-right: 60px;
}
.contact-form{
    margin-top: 25px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
}
.contact-text{
    width: 46%;
    
}
.contact-form__text{
    position: relative;
    
}
.contact-form__text{
    width: 100%;
}
.contact-form .btn{
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #f39c12;
}
.contact-form .btn:hover{
    color: white;
}
.form_control{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    width: 100%;
    margin: 5px 0;
    border: none;
    padding: 10px 50px 10px 10px;
    background-color: white;
    border: 2px solid #d9d9d9;
}
.form_control:focus{
    border: 2px solid #f39c12;
}
.form_control:focus + i{
    color: #f39c12;
}
textarea.form_control{
    resize: none;
    overflow: hidden;
    min-height: 124px;
}
.contact-form__text i{
    position: absolute;
    top: 22px;
    right: 20px;
}
.contact-list{
    margin-top: 25px;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    
}
.contact-list__item {
    position: relative;
    padding-left: 50px;
    margin-bottom: 15px;
    
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.contact-list__item a{
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}
.contact-list__item a:hover{
    color: #f39c12;
}
.contact-list__item span{
    position: absolute;
    top: -3px;
    left: 0;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: 2px solid #f39c12;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-bottom: 10px;
    
}
.contact-list__item span i{
    font-size: 18px;
    color: #0d0d0d;
}









/*-----------------------------------MAP---------------------------------------------*/
#map{
    position: relative;
    overflow: hidden;
    height: 600px;
}
#map::after{
    position: absolute;
    content: "";
    border-left: 100vw solid transparent; 
    border-bottom: 100px solid white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#map::before{
    position: absolute;
    content: "";
    border-left: 100vw solid transparent; 
    border-bottom: 100px solid white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 1;
}
/*-----------------------------------FOOTER---------------------------------------------*/
footer{
    
}
.footer_soc{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 40px;
}
.footer_soc_list{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer_soc_list__item +.footer_soc_list__item{
    margin-left: 20px;
}
.footer_soc_list__item a i{
    font-size: 18px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.footer_soc_list__item a:hover i{
    font-size: 18px;
    color: #f39c12
}
.credits{

    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0d0d0d;

}
.credits span{
    color: #a6a6a6;
    padding: 0 5px;
}



/* MEDIA */

@media (max-width: 1190px){
    
    .block_rec_img{
        margin-left: 20px;
    }

    .h2_text p{

        font-weight: 400;
        line-height: 16px;
        font-size: 12px;
    }
    .block__text span {
        font-size: 18px;  
    }
    p{
        font-size: 14px;
        line-height: 24px;
    }
    .block__img {
        width: 100px;
        height: 100px;
        
    }
    .set__img{
        flex: 1;
    }
    .set__progress {
        margin-left: 40px;
        padding: 0px;
        flex: 1;
    }
    
    .blockq-box blockquote {
        font-size: 34px;
        line-height: 40px;
    }
    .blockq-box blockquote::before,
    .blockq-box blockquote::after{
        font-size: 60px;
        line-height: 65px;
    }
    .client__cercle {
        width: 120px;
        height: 120px;
    }
    .client__detail span {
        font-size: 37px;
    }
    .client__detail{
        font-size: 22px;
    }
    .wrapper{
        margin: 0 20px;
    }
    .clients{
        flex-wrap: wrap;
        justify-content: space-around
    }
    .client__item{
        margin: 10px;
    }
    .blockq2-box blockquote {
        width: 80%;
        margin: 0 auto;
    }
    .contact-block{
        margin-right: 15px;
    }
    
}









@media (max-width: 992px){
    .block{
        min-height: 500px;
        height: auto;
        padding: 20px;
    }
    .block_story{
        display: block;
    }
    .block__info{
        display: block;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .block__img {
        margin: 0 auto 20px;
    }
    .block_rec_img {
        margin: 20px 0;
        text-align: center;
    }
    .block_rec_img img{
        display: block;
        margin: 0 auto;
        min-width: 80%;
    }
    .hr {
    margin: 60px 0;
    }
    .h2_box {
        margin-bottom: 100px;
    }
    .h2_box p{
        display: none;
    }
    .h2_box .h2_header{
        width: auto;
        text-align: center;
        margin: 0 auto;
    }
    .h2_header::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-right: none;
        border-bottom: 5px solid #f39c12;
        width: 100%;
        margin-left: 0;
    }
    .settings{
        display: block;
    }
    .set__progress {
        margin: 0 auto;
        width: 80%;
    }
    .set__progress_bar{
        margin: 20px auto 0;
    }
    .set__img{
        display: block;
        width: auto;
        text-align: center;
        margin-bottom: 40px;
    }
    .set__img img{
        margin: 0 auto;
    }
    .job__img {
        width: 160px;
        height: 160px;
    }
    .job__img::after {
        width: 160px;
        height: 160px;

    }
    .blockq2-box{
        
    }
    cite {
        font-size: 20px;
        line-height: 45px;
    }
    .blockq2-box blockquote {
        font-size: 18px;
        line-height: 22px;
    }
    .twitter_text {
        font-size: 19px;
        line-height: 22px;
        width: auto;
    }
    .blockq-box blockquote::before,
    .blockq-box blockquote::after{
        position: static;
        font-size: 50px;
        line-height: 55px;
    }
    .price__box{
        display: block;
    }
    .ml {
        text-align: center;
        margin: 0 auto 20px;

    }
    .ml .design__img {
        margin: 0 auto;
        width: 105px;
        height: 105px;
    }
    .price__list li {
        margin: 0 auto;
        padding: 10px 10px;
    }
    .logo__item{
        width: 200px;
        text-align: center;
        
    }
    .client__rect{
        padding: 10px;
    }
    .client__rect img{
        display: block;
        max-width: 100%;
        max-height: 100%
    }
    .contact-info{
        display: block;
    }
    .contact-block,.contact-text{
        margin: 20px auto;
        width: 80%;
    }
    .footer_soc{
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }
    .credits{
        margin-top: 20px;
        order: 1;
    }
    #map{
        height: 500px;
    }
    #map::before,
    #map::after{
        display: none;
    }
    .contact-list__item a {
        font-size: 14px;
    }
    .contact-list__item {
        font-size: 14px;
    }

}

@media (max-width: 768px){
    .price__table{
        display: block;
    }
    .price__list{
        margin: 0 auto;
        width: 80%;
    }
    .price__list:first-child{
        border-right: 1px solid #e6e6e6;
    }
    .price__list:last-child{
        border-left: 1px solid #e6e6e6;
    }
    .blockq-box blockquote::before, .blockq-box blockquote::after {
        font-size: 30px;
        line-height: 55px;
    }
    .blockq-box blockquote {
        font-size: 27px;
        line-height: 30px;
    }
    .block {
        background: #594b4b;
    }
    
}
@media (max-width: 522px){
    
}
@media (max-width: 320px){
    
}





















